body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body takes up at least the full viewport height */
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #17072b;
    color: #FFFFFF;
    padding: 20px 0;
    position: relative; /* Ensure the header is positioned relatively */
    text-align: center;
    
}

header h1 {
    font-family: "Tahoma", sans-serif;
    font-weight: 700;
    margin: 0;
    margin-bottom: 3%;
}

nav {
    position: absolute; /* Position the nav absolutely */
    bottom: 0; /* Align the nav to the bottom of the header */
    margin-left: 25%;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
}

main {
    display: flex;
}

.welcome {
    flex: 2;
    padding: 20px;
}

.line-up {
    flex: 1;
    background-color: #172d67;
    color: #FFFFFF;
    margin-top: 50px; /* Adjust the margin-top as needed */
}

.images{
    display: flex;
    justify-content: space-between;
}
.images img{
    max-width: 160px;
    max-height: 160px;
}

footer {
    background-color: #8c15e9;
    color: #FFFFFF;
    padding: 20px 0;
    text-align: center;
    flex-shrink: 0; /* Prevent the footer from shrinking */
}
